{% load menu_tags %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {% for child in children %}
    <li class="nav-item child{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}">
        <a class="nav-link d-inline-block px-0 pt-1 pb-2" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
        {% if child.children %}
        <ul>
            {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>
