{% load menu_tags cms_tags %}
    {% for child in children %}
    <!--{{children}}-->
    <!-- Child: {{child}} -->
    <li class="nav-item {% if child.selected %}bactive{% endif %} {% if child.children %}dropdown{% endif %}">
        {% if child.children %}
        <a class="nav-link dropdown-toggle" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" data-bs-auto-close="outside" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           {{ child.get_menu_title }}
        </a>
        <ul class="dropdown-menu">
            {% for sub_child in child.children %}
                <li>
                    <a class="dropdown-item" href="{{ sub_child.get_absolute_url }}">
                        {{ sub_child.get_menu_title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <a class="nav-link" href="{{ child.get_absolute_url }}">
                {{ child.get_menu_title }}
            </a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
