 <!-- Item -->
 <div class="swiper-slide h-auto pt-4 pb-3 px-2">
    <div class="d-flex flex-column h-100 px-2 px-sm-0 mb-0">
      <div class="card h-100 position-relative border-0 shadow-sm pt-4">
        <span class="btn btn-icon btn-primary shadow-primary pe-none position-absolute top-0 start-0 translate-middle-y ms-4">
          <i class="bx bxs-quote-left"></i>
        </span>
        <blockquote class="card-body pb-4 mb-0">
            <div class="text-nowrap pt-1 mb-3">
                {% for _ in "12345" %}
                  {% if forloop.counter <= instance.stars %}
                    <i class="bx bxs-star text-warning"></i>
                  {% else %}
                    <i class="bx bx-star text-muted opacity-75"></i>
                  {% endif %}
                {% endfor %}
              </div>
              
          <p class="fs-lg mb-0">{{instance.testimonial_text}}</p>
        </blockquote>
        <div class="card-footer d-flex align-items-center border-0 pt-0">
         <!-- <img src="assets/img/avatar/42.png" width="48" class="rounded-circle ms-n1" alt="Fannie Summers">-->
          <div class="ps-2 ms-1">
            <h6 class="fs-base fw-semibold mb-0">{{ instance.testimonial_name }}</h6>
            <span class="fs-sm text-muted">{{ instance.testimonial_role }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>