{% load static cms_tags i18n %}


{% block content %}

<!-- Hero -->
<section class="overflow-hidden pt-5" style="background: radial-gradient(116.18% 118% at 50% 100%, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 41.83%, rgba(241, 244, 253, 0.07) 82.52%);">
    <div class="container pt-3 pt-sm-4 pt-xl-5">
      <div class="row pt-md-2 pt-lg-5">
        <div class="col-md-5 d-flex flex-column mt-md-4 pt-5 pb-3 pb-sm-4 py-md-5">
          <h1 class="display-4 text-center text-md-start mb-4">{{ instance.title }}</h1>
          <p class="fs-lg text-center text-md-start pb-2 pb-md-3 mb-4 mb-lg-5">{{ instance.description }}</p>
          <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-md-start">
           <!-- App store link no import of svg yet -->
            <a href="instance.apple_app_store_link" class="btn btn-dark btn-lg px-3 py-2 me-sm-3 me-lg-4 mb-3">
              <img src="{% static 'images/appstore-light.svg' %}" class="light-mode-img" width="124" alt="App Store">
              <img src="{% static 'images/appstore-dark.svg' %}" class="dark-mode-img" width="124" alt="App Store">
            </a>
            <a href="{{instance.play_store_link}}" class="btn btn-dark btn-lg px-3 py-2 mb-3">
              <img src="{% static 'images/googleplay-light.svg' %}" class="light-mode-img" width="139" alt="Google Play">
              <img src="{% static 'images/googleplay-dark.svg' %}" class="dark-mode-img" width="139" alt="Google Play">
            </a>
          </div>
          <div class="position-relative d-inline-flex align-items-center justify-content-center justify-content-md-start mt-auto pt-3 pt-md-4 pb-xl-2">
            <a href="#features" class="btn btn-icon btn-light bg-white stretched-link rounded-circle me-3" data-scroll data-scroll-offset="120">
              <i class="bx bx-chevron-down"></i>
            </a>
            <span class="fs-sm">{% trans "Entdecke mehr" %}</span>
          </div>     
        </div>
        <div class="col-md-7 align-self-end">
          <div class="position-relative overflow-hidden mt-4 pb-3 pt-4 mx-auto me-md-0" style="max-width: 632px;">
            <div class="ratio ratio-1x1"></div>
            {% if instance.hero_mockup_image_1 %}
        <img
          src="{{ instance.hero_mockup_image_1.url }}"
          class="rellax position-absolute top-0 start-0 zindex-2"  data-rellax-speed="1.6" data-disable-parallax-down="md" alt="Phone">
        {% endif %}
        {% if instance.hero_mockup_image_2 %}
        <img
          src="{{ instance.hero_mockup_image_2.url }}"
          class="rellax position-absolute top-0 start-0"  data-rellax-speed="2.8" data-disable-parallax-down="md" alt="Phone">
        {% endif %}
            
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Features -->
  {% placeholder "features" %}




     

{% endblock content %}