{% load cms_tags sekizai_tags menu_tags static i18n compress %}



<!-- Hero -->
<section class="jarallax dark-mode bg-dark pt-2 pt-lg-3 pb-lg-5" data-jarallax data-speed="0.35">
  <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-70"></span>
  {%  if instance.course_image %}
  <div class="jarallax-img" style="background-image: url('{{instance.course_image.url}}');"></div>
  {% endif %}
  <div class="container position-relative zindex-5 pb-5">

    <!-- Badges -->
    <div class="d-flex pt-3 pb-4 py-sm-4 pt-lg-5">
      <span class="badge bg-success fs-sm me-2">Python Django Training</span>
      <span class="badge bg-white text-nav fs-sm text-decoration-none">Python Django Development Training</span>
    </div>

    <!-- Title -->
    <h1>{{ instance.title }}</h1>
    <p class="fs-lg text-light opacity-70">{{ instance.short_description }} </p>

    <!-- Stats -->
    <div class="d-sm-flex py-3 py-md-4 py-xl-5">
      <div class="d-flex border-sm-end pe-sm-3 me-sm-3 mb-2 mb-sm-0">
        <div class="text-nowrap me-1">
          <i class="bx bxs-star text-warning"></i>
          <i class="bx bxs-star text-warning"></i>
          <i class="bx bxs-star text-warning"></i>
          <i class="bx bxs-star text-warning"></i>
          <i class="bx bx-star text-muted opacity-75"></i>
        </div>
        <span class="text-light opacity-70">(12 Schulungen)</span>
      </div>
      <!--<div class="d-flex border-sm-end pe-sm-3 me-sm-3 mb-2 mb-sm-0">
        <i class="bx bx-like fs-xl text-light opacity-70 me-1"></i>
        <span class="text-light opacity-70">4.2K likes</span>
      </div>-->
      <div class="d-flex">
        <i class="bx bx-time fs-xl text-light opacity-70 me-1"></i>
        <span class="text-light opacity-70">{{instance.duration }} {% trans "Tage" %}</span>
      </div>
    </div>

    <!-- Author -->
    <div class="d-flex align-items-center mt-xl-5 pt-2 pt-md-4 pt-lg-5">
      {% if instance.course_author_image %}
      <img
        src="{{instance.course_author_image.url}}"
        class="rounded-circle"
        width="60"
        alt="{{instance.course_author}}"
        title="{{instance.course_author_image_title}}"

      />
      {% endif %}
      <div class="ps-3">
        <div class="text-light opacity-80 mb-1">{% trans "Erstellt von" %}</div>
        <h6>{{ instance.course_author }} </h6>
      </div>
    </div>
  </div>
</section>

<!-- Course description -->
<section class="container pt-5 mt-2 mt-lg-4 mt-xl-5">
  <div class="row">
    <!-- Sidebar (Course summary) -->
    <aside class="col-lg-4 col-md-5 offset-xl-1 order-md-2 mb-5">
      <div style="margin-top: -96px;"></div>
      <div class="position-sticky top-0 pt-5">
        <div class="pt-5 mt-md-3">
          <div class="card shadow-sm p-sm-3">
            <div class="card-body">
              <h4 class="mb-4">{% trans "Dieser Kurs beinhaltet" %}: </h4>
              <ul class="list-unstyled pb-3">
                <li class="d-flex align-items-center mb-2">
                  <i class="bx bx-slideshow fs-xl text-muted me-2 pe-1"></i>
                  {{instance.duration }} {% trans "Tage" %} intensives Python Django Training
                </li>
                <li class="d-flex align-items-center mb-2">
                    <i class="bx bx-book fs-xl text-muted me-2 pe-1"></i>
                  Project Setup, Django Models, Views, Templates, Forms, REST API, Deployment, Security und mehr
                </li>
                <li class="d-flex align-items-center mb-2">
                  <i class="bx bx-file fs-xl text-muted me-2 pe-1"></i>
                  Remote via Microsoft Teams oder OnSite
                </li>
                <li class="d-flex align-items-center mb-2">
                  <i class="bx bx-download fs-xl text-muted me-2 pe-1"></i>
                  inkl. Schulungsunterlagen
                </li>
                <li class="d-flex align-items-center mb-2">
                  <i class="bx bx-infinite fs-xl text-muted me-2 pe-1"></i>
                  5h Support nach der Schulung
                </li>
                <li class="d-flex align-items-center mb-2">
                  <i class="bx bx-trophy fs-xl text-muted me-2 pe-1"></i>
                  Zertifikat
                </li>
              </ul>
              <div class="h2 d-flex align-items-center mb-2">
                {{instance.price}} EUR<del class="text-muted fs-xl fw-normal ms-2">1699 EUR</del>
              </div>
              <p>zzgl. MwSt. / pro Person</p>
              <p></p>
                <a href="#contact" class="btn btn-primary btn-lg w-100 shadow-primary">Jetzt unverbindlich anfragen</a>
            </div>
          </div>
        </div>
      </div>
    </aside>

    <!-- Content -->
    <div class="col-xl-7 col-lg-8 col-md-7 order-md-1 mb-5">
      <h2 class="h1 pb-md-2 pb-lg-3">{% trans "Kursbeschreibung" %}</h2>
      <p class="pb-4 mb-3">{{ instance.course_description }}</p>
      <h3 class="mb-4">Was Sie in dieser Schulung lernen werden</h3>
      <ul class="list-unstyled mb-5">
        {% for plugin in instance.child_plugin_instances %}
          {% if plugin.plugin_type == 'CourseWhatYouLearnPublisher' %}
            {% render_plugin plugin %}
          {% endif %}
        {% endfor %}

      </ul>

      <h2 class="h1 pt-md-2 pt-lg-4 pt-xl-5 pb-md-3 pb-lg-4 mb-md-4">{% trans "Programm Details" %}</h2>
      <div class="steps steps-sm">

        {% for plugin in instance.child_plugin_instances %}
          {% if plugin.plugin_type == 'CourseContentPublisher' %}
            {% render_plugin plugin %}
          {% endif %}
        {% endfor %}
      </div>

    </div>
  </div>
</section>

<!-- Course author -->
<section class="container py-lg-4 py-xl-5 mt-3 mb-5">
  <div class="row g-0 bg-dark bg-repeat-0 bg-position-center border rounded-3 overflow-hidden" style="background-image: url('{% static 'images/author-pattern.svg' %}');">
    <div class="col-md-4 bg-repeat-0 bg-position-top-center bg-size-cover"
    {% if instance.course_author_image %}
    style="background-image: url('{{instance.course_author_image.url}}'); min-height: 350px;">
    {% endif %}
  </div>
    <div class="col-md-8 py-xl-5 px-4">
      <div class="py-5 mx-auto" style="max-width: 530px;">
        <div class="fs-xl text-light opacity-50 mb-2">{% trans "Lerne von den Besten" %}</div>
        <h2 class="h1 text-light mb-4">{{ instance.course_author}}</h2>
        <p class="text-light opacity-70 pb-4">{{ instance.course_author_description}}</p>
      </div>
    </div>
  </div>
</section>
