{% load cms_tags sekizai_tags menu_tags static i18n compress %}






<!-- Page title + Filters -->
 <div class="d-lg-flex align-items-center justify-content-between py-4 mt-lg-2">
    <h1 class="me-3">Courses</h1>
    <div class="d-md-flex mb-3">
      <select class="form-select me-md-4 mb-2 mb-md-0" style="min-width: 240px;">
        <option value="All">All categories</option>
        <option value="Web Development">Web Development</option>
        <option value="Mobile Development">Mobile Development</option>
        <option value="Programming">Programming</option>
        <option value="Game Development">Game Development</option>
        <option value="Software Testing">Software Testing</option>
        <option value="Software Engineering">Software Engineering</option>
        <option value="Network & Security">Network &amp; Security</option>
      </select>
      <div class="position-relative" style="min-width: 300px;">
        <input type="text" class="form-control pe-5" placeholder="Search courses">
        <i class="bx bx-search text-nav fs-lg position-absolute top-50 end-0 translate-middle-y me-3"></i>
      </div>
    </div>
  </div>


  <!-- Courses grid -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-3 gx-md-4 mt-n2 mt-sm-0">
   \
    <!-- Item -->
    <div class="col pb-1 pb-lg-3 mb-4">
      <article class="card h-100 border-0 shadow-sm">
        <div class="position-relative">
          <a href="portfolio-single-course.html" class="d-block position-absolute w-100 h-100 top-0 start-0"></a>
          <span class="badge bg-success position-absolute top-0 start-0 zindex-2 mt-3 ms-3">Best Seller</span>
          <a href="#" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-2 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Save to Favorites">
            <i class="bx bx-bookmark"></i>
          </a>
          <img src="assets/img/portfolio/courses/01.jpg" class="card-img-top" alt="Image">
        </div>
        <div class="card-body pb-3">
          <h3 class="h5 mb-2">
            <a href="portfolio-single-course.html">Fullstack Web Developer Course from Scratch</a>
          </h3>
          <p class="fs-sm mb-2">By Albert Flores</p>
          <p class="fs-lg fw-semibold text-primary mb-0">$12.50</p>
        </div>
        <div class="card-footer d-flex align-items-center fs-sm text-muted py-4">
          <div class="d-flex align-items-center me-4">
            <i class="bx bx-time fs-xl me-1"></i>
            220 hours
          </div>
          <div class="d-flex align-items-center">
            <i class="bx bx-like fs-xl me-1"></i>
            94% (4.2K)
          </div>
        </div>
      </article>
    </div>
