{% load cms_tags sekizai_tags menu_tags static i18n compress%}
<footer class="footer dark-mode bg-dark pt-5 pb-4 pb-lg-5">
    <div class="container pt-lg-4">
        <div class="row pb-5">
            <div class="col-lg-4 col-md-6">
                <div class="navbar-brand text-dark p-0 me-0 mb-3 mb-lg-4">
                  <img class="brand" width="150" src="{% static 'images/logo_surfgreen_black.svg' %}" alt="Sufgreen.dev - Web Development with Python Django, Vue.js, React.">
                  {{instance.description}}
                </div>
                <p class="fs-sm text-light opacity-70 pb-lg-3 mb-4">{% static_placeholder "footer_text" %}</p>
                <form class="needs-validation" novalidate>
                  <label for="subscr-email" class="form-label">{% trans "xMelden Sie sich bei unserem Newsletter an" %}</label>
                  <div class="input-group">
                    <input type="email" id="subscr-email" class="form-control rounded-start ps-5" placeholder='{% trans "Ihre E-Mail Adresse" %}' required>
                    <i class="bx bx-envelope fs-lg text-muted position-absolute top-50 start-0 translate-middle-y ms-3 zindex-5"></i>
                    <div class="invalid-tooltip position-absolute top-100 start-0">{% trans "Bitte geben Sie eine valide E-Mail Adresse ein." %}</div>
                    <button type="submit" class="btn btn-primary">{% trans "Jetzt abonnieren" %}</button>
                  </div>
                </form>
              </div>
              <div class="col-xl-6 col-lg-7 col-md-5 offset-xl-2 offset-md-1 pt-4 pt-md-1 pt-lg-0">
                <div id="footer-links" class="row">
                    <div class="col-lg-4">
                        <h6 class="mb-2">
                            <a href="#useful-links" class="d-block text-dark dropdown-toggle d-lg-none py-2" data-bs-toggle="collapse">Useful Links</a>
                        </h6>
                        <div id="useful-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                            {% show_menu 0 100 100 100 "cms/menu/footer_menu.html" %}
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-3">
                    <h6 class="mb-2">
                        <a href="#social-links" class="d-block text-dark dropdown-toggle d-lg-none py-2" data-bs-toggle="collapse">Socials</a>
                    </h6>
                    <div id="social-links" class="collapse d-lg-block" data-bs-parent="#footer-links">
                        <ul class="nav flex-column mb-2 mb-lg-0">
                            <li class="nav-item"><a href="{{instance.linkedin_link}}" class="nav-link d-inline-block px-0 pt-1 pb-2">LinkedIn</a></li>
                            <li class="nav-item"><a href="{{instance.instagram_link}}" class="nav-link d-inline-block px-0 pt-1 pb-2">Instagram</a></li>
                        </ul>
                    </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 pt-2 pt-lg-0">
                    <h6 class="mb-2">{% trans "Kontakt" %}</h6>
                    <a href="mailto:{{instance.email_adress}}" class="fw-medium">{{instance.email_adress}}</a>
                    <a href="tel:{{instance.phone_number}}" class="fw-medium">{{instance.phone_number}}</a>
                    <p>{{instance.street_adress}} - {{instance.city_adress}}</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="nav d-block fs-xs text-center text-md-start pb-2 pb-lg-0 mb-0">
            <span class="text-light opacity-50">&copy; All rights reserved. Made by </span>
            <a class="nav-link d-inline-block p-0" href="https://www.surfgreen.dev/" target="_blank" rel="noopener">{% trans "Surfgreen.dev - Python Django Webentwicklung" %}</a>
        </p>
        <p class="mt-5">
            {{instance.seo_text}}
        </p>
    </div>
</footer>
{% block scroll_top %}
<a href="#top" class="btn-scroll-top" data-scroll>
    <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
    <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
</a>
{% endblock %}
