<!-- Page title -->
<section class="container pb-5 mb-md-2 mb-lg-4 mb-xl-5">
  <div class="row pb-5 mb-md-2 mb-lg-4 mb-xl-5">
    <div class="col-lg-6">
      <h1 class="display-2 mb-0">{{instance.title}}</h1>
    </div>
    <div class="col-lg-6 col-xl-5 offset-xl-1 pt-3 pt-sm-4 pt-lg-3">
      <p class="fs-xl pb-4 mb-1 mb-md-2 mb-xl-3">{{instance.description}}</p>
      <a href="{{instance.link}}" class="btn btn-lg btn-primary shadow-primary"
        >{{instance.link_text}}</a
      >
    </div>
  </div>
  <hr />
</section>
