{% load static cms_tags i18n %}

<section class="container pt-5 mt-2 mt-md-4 mt-lg-5">
  <div class="row pt-xl-3">
    <div class="col-md-5 text-center text-md-start pb-5">
      <h1 class="mb-4">{{instance.title}}</h1>
      <p class="fs-lg pb-lg-3 mb-4">{{instance.description}}</p>
    </div>
    <div class="col-xl-6 col-md-7 offset-xl-1 pb-4 pb-sm-3 pb-lg-0 mb-4 mb-sm-5 mb-lg-0">
      {% if instance.image %}
      <img src="{{instance.image.url}}" class="rounded-3 shadow-sm" alt="{{instance.image_alt_text}}">
      {% endif %}
    </div>
  </div>
</section>
