{% load static cms_tags i18n %}

 <!-- Brands (Carousel) -->
  
 <section class="container pb-4 pb-lg-5 mb-3">
    <div class="d-flex align-items-center justify-content-md-between justify-content-center mb-md-4 mb-3">
      <h2 class="mb-0">{{instance.title}}</h2>
      <p class="lead mt-1 mb-1">{{instance.description}}</p>

      <!-- Slider prev/next buttons + Quotation mark -->
      <div class="d-md-flex d-none ms-4">
        <button type="button" id="prev-brand" class="btn btn-prev btn-icon btn-sm me-2" aria-label="Previous">
          <i class="bx bx-chevron-left"></i>
        </button>
        <button type="button" id="next-brand" class="btn btn-next btn-icon btn-sm ms-2" aria-label="Next">
          <i class="bx bx-chevron-right"></i>
        </button>
      </div>
    </div>
    <div class="swiper mx-n2" data-swiper-options='{
      "slidesPerView": 2,
      "navigation": {
        "prevEl": "#prev-brand",
        "nextEl": "#next-brand"
      },
      "loop": true,
      "pagination": {
        "el": ".swiper-pagination",
        "clickable": true
      },
      "breakpoints": {
        "500": {
          "slidesPerView": 3,
          "spaceBetween": 8
        },
        "650": {
          "slidesPerView": 4,
          "spaceBetween": 8
        },
        "900": {
          "slidesPerView": 5,
          "spaceBetween": 8
        },
        "1100": {
          "slidesPerView": 6,
          "spaceBetween": 8
        }
      }
    }'>
      <div class="swiper-wrapper">
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
      </div>

      <!-- Pagination (bullets) -->
      <div class="swiper-pagination position-relative pt-3 mt-4 d-md-none d-flex"></div>
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var swiper = new Swiper('.swiper', {
        slidesPerView: 2,
        navigation: {
          prevEl: '#prev-brand',
          nextEl: '#next-brand'
        },
        loop: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        breakpoints: {
          500: {
            slidesPerView: 3,
            spaceBetween: 8
          },
          650: {
            slidesPerView: 4,
            spaceBetween: 8
          },
          900: {
            slidesPerView: 5,
            spaceBetween: 8
          },
          1100: {
            slidesPerView: 6,
            spaceBetween: 8
          }
        }
      });
    });
  </script>