{% load cms_tags %}
<section class="overflow-hidden pt-md-2 pt-lg-3 pb-3 pb-md-4 pb-xl-5">
  <div class="container">
    <div
      class="d-flex flex-column flex-md-row flex-md-nowrap align-items-start"
    >
      <div class="col-md-7 ps-0 pe-lg-4 mb-5 mb-md-0">
        <div style="max-width: 660px">
          <h2 class="h1 pb-3 mb-2 mb-md-3">{{instance.title}}</h2>
          <p class="lead pb-2 mb-3">{{instance.description}}</p>
          <div class="row row-cols-1 row-cols-sm-2 gx-lg-5 g-4">
            {% for plugin in instance.child_plugin_instances %} {% render_plugin
            plugin %} {% endfor %}
          </div>
        </div>
      </div>
      {% if instance.image %}
      <img
        src="{{instance.image.url}}"
        width="836"
        class="ms-3 ms-sm-5 ms-xl-3"
        alt="{{instance.description}}"
      />
      {% endif %}
    </div>
  </div>
</section>
