
<section class="position-relative overflow-hidden py-4 mb-3">
    <div class="container pt-lg-3">
        <div class="row flex-lg-nowrap">
        <div class="col-lg-6 col-xl-4 text-center text-lg-start pt-5 mt-xl-4">
            <h1 class="display-4 pt-5 pb-2 pb-lg-3 mt-sm-2 mt-lg-5">{{instance.title}}</h1>
            <p class="fs-lg mb-4 mb-lg-5">{{instance.description}}</p>
            <a href="{{instance.link}}" class="btn btn-primary btn-lg">{{instance.link_text}}</a>
        </div>
        <div class="col-lg-6 col-xl-12 text-lg-start pt-5 mt-xl-4">
            <div class="parallax mt-4 ms-4 me-lg-0 ms-lg-n5 ms-xl-n3 mt-lg-n4">
                <div class="parallax-layer" data-depth="0.1">
                    {% if instance.image %}
                    <img src="{{instance.image.url}}" alt="{{instance.title}}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
