{% extends "cms/base.html" %}
{% load menu_tags %}
{% load cms_tags sekizai_tags %}

{% block content %}
{% show_breadcrumb 0 "cms/breadcrumb/breadcrumb.html" %}
<!-- Content here -->
<!-- Page title -->
<section class="container pb-5 mb-md-2 mb-lg-4 mb-xl-5">
    <div class="row pb-5 mb-md-2 mb-lg-4 mb-xl-5">
      <div class="col-lg-6">
        <h1 class="display-2 mb-0">Custom Software Development</h1>
      </div>
      <div class="col-lg-6 col-xl-5 offset-xl-1 pt-3 pt-sm-4 pt-lg-3">
        <p class="fs-xl pb-4 mb-1 mb-md-2 mb-xl-3">Id eget blandit sapien cras massa lectus lorem placerat. Quam dolor commodo fermentum bibendum dictumst. Risus pretium eget at viverra eget. Sit neque adipiscing malesuada blandit justo, quam.</p>
        <a href="#" class="btn btn-lg btn-primary shadow-primary">Start your project</a>
      </div>
    </div>
    <hr>
</section>
{% placeholder "blank_content" %}
{% endblock content %}
